<div class="input-group">
	<span class="input-group-addon"><b>In:  Boards ►</b></span>
  {{input 
    type="text"
    class="form-control"
    placeholder="Enter in a board location." 
    aria-describedby="board location"
    focus-in="focusIn"
    focus-out="saveChange"
    value=location}}
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" title="Add separator"{{action "addSeparator"}}>{{fa-icon "caret-right" fixedWidth=true}}</button>
  </span>
</div>
{{yield}}
