<div class="row preview-body">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <h4>
        	{{#if showOutput}}
            BBCode Output
          {{else}}
            Forum Preview
          {{/if}}
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
  			<br/>
  			{{yield}}
      </div>
    </div>
  </div>
</div>
