<div class="input-group">
  {{input 
    class="form-control"
    value=endPage 
    type="number"
    focus-out="focusOut"
    min=adjustedMin}}
  <span class="input-group-addon" id="interlude-perspective-user">{{fa-icon "fast-forward"}}</span>
</div>
{{yield}}
