<div class="input-group">
  <span class="input-group-addon">{{fa-icon "calendar"}}</span>

      
  {{yield}}
  <span class="input-group-addon">
    {{fa-icon "search" fixedWidth=true}}
  </span>
</div>
