<div class="input-group">
  <span class="input-group-addon" id="interlude-perspective-user">{{fa-icon "fast-backward"}}</span>
  {{input 
    class="form-control"
    value=startPage 
    type="number"
    focus-out="focusOut"
    min=min}}
</div>
{{yield}}
